<div class="col-md-3 col-sm-3 col-xs-6" data-hook="order-shipment">
  <h4><%= Spree.t(:shipments) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed? %></h4>
  <div class="delivery">
    <% order.shipments.each do |shipment| %>
      <div>
        <i class='fa fa-truck'></i>
        <%= Spree.t(:shipment_details, stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %><br />
        <%= "<b>Collection at :</b> #{ shipment.collection_date.strftime('%d/%b/%Y')}".html_safe if shipment.collection_date %><br>
        <%= "<b>Time :</b> #{ shipment.collection_slot_time_frame }".html_safe if shipment.collection_slot %><br><br>
        <%= "<b>Delivery at :</b> #{ shipment.delivery_date.strftime('%d/%b/%Y')}".html_safe if shipment.delivery_date %><br>
        <%= "<b>Time :</b> #{ shipment.delivery_slot_time_frame }".html_safe if shipment.delivery_slot %>

      </div>
    <% end %>
  </div>
  <%= render 'spree/shared/shipment_tracking', order: order if order.shipped? %>
</div>